<div class="container__index">

    <header>
        <h2><a href="#"><i class="ion-plane"></i> Hizzy-Learn</a></h2>
        <nav>
            <ul>

                <li>
                    <a class="btn" href="/login" title="Register / Log In">Sign In</a>
                </li>
                <li>
                    <a class="btn" href="/signup" title="Register / Log In">Sign Up</a>
                </li>
            </ul>
        </nav>
    </header>
    <br />
    <br />
    <div class="cover">
        <h1>Welcome to Hizzy-Learn.</h1>
        <br>
        <p>Your E-learning platform where you learn how to code by watching tutorials according to your level.</p>
        <a class="btn" href="/signup" title="Register / Log In">Discover our app</a>

    </div>

</div>