@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0px;
  font-family: Montserrat, sans-serif;
  background-size: 100% 110%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
.login {
  margin: 0 auto;
  max-width: 500px;
  font-family: Montserrat, sans-serif;
}
.login-header {
  color: #fff;
  text-align: center;
  font-size: 300%;
}

.login-form h3 {
  text-align: left;

  color: #b3b8cd;
}
.login-form {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 10%;
  margin: 5% auto;
  text-align: center;
}
.login input[type="text"],
.login input[type="password"] {
  color: #b3b8cd;
  font-weight: 900;
  max-width: 400px;
  width: 80%;
  line-height: 3em;
  font-family: "Lato", sans-serif;
  margin: 1em 2em;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  outline: none;
  padding-left: 10px;
}

.wrap__button {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
/*
.login__button {
  height: 30px;
  width: 100px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  color: navy;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  cursor: pointer;
} */
.sign-up {
  color: #f2f2f2;
  margin-left: -70%;
  cursor: pointer;
  text-decoration: underline;
}
.error__message {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.title__login {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 30px;
  font-weight: bold;
  padding: 3px 7px;
  /* position: absolute;
  top: 30px;
  left: 30px; */
}

/*Media Querie*/
@media only screen and (min-width: 150px) and (max-width: 530px) {
  .login-form h3 {
    text-align: center;
    margin: 0;
  }
  .sign-up,
  .no-access {
    margin: 10px 0;
  }
  .login-button {
    margin-bottom: 10px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
  .login {
    margin-top: 50%;
  }
}
